@import "settings";
@import "base";


/* common parts
------------------------- */
#card_selector{
    overflow: hidden;
    width: 320px;
}
#m_cards{
    position: relative;
    width: 320px;
    margin: 8px auto;
    ul{
        position: absolute;
        top: 0;
        width: 320px;
    }
    li{
        border-bottom: 1px solid #eee;
        &:first-child{
            border-top: 1px solid #eee;
        }
        figure{
            display: inline-block;
        }
    }
}

.m_pager{
    text-align: center;
    ul, li{
        display: inline;
    }

}