/* reset
-------------------------------------------------- */
article, aside, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

input, textarea, select, button {
  -webkit-appearance: none;
  appearance: none;
  vertical-align: middle;
}

button {
  outline: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-size: inherit;
}

figure, p, form, dl, dd, form {
  margin: 0;
}

ol, ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

hr {
  margin: 0;
  outline: 0;
  border: 0;
}

em, i {
  font-style: normal;
}

img {
  vertical-align: middle;
}

/* elements base style
-------------------------------------------------- */
body {
  margin: 0;
  color: #471b18;
  font: 14px/1 "HiraKakuProN-W3", sans-serif;
  -webkit-text-size-adjust: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  word-wrap: break-word;
}

a {
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  tap-highlight-color: rgba(255, 255, 255, 0);
}

/* form */
input[type="checkbox"] {
  -webkit-appearance: checkbox;
  appearance: checkbox;
}

input[type="radio"] {
  -webkit-appearance: radio;
  appearance: radio;
}

input[type="text"] {
  -webkit-appearance: text;
  appearance: text;
}

textarea {
  -webkit-appearance: textarea;
  appearance: textarea;
}

select {
  -webkit-appearance: select;
  appearance: select;
}

button {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-appearance: button;
  appearance: button;
}

label {
  display: block;
  /* iOS 5 or less fixed */
  cursor: pointer;
}

/*  text */
small {
  font-size: 12px;
}

strong {
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

/* common parts
------------------------- */
#card_selector {
  overflow: hidden;
  width: 320px;
}

#m_cards {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  position: relative;
  width: 320px;
  margin: 8px auto;
}
#m_cards ul {
  position: absolute;
  top: 0;
  width: 320px;
}
#m_cards li {
  border-bottom: 1px solid #eee;
}
#m_cards li:first-child {
  border-top: 1px solid #eee;
}
#m_cards li figure {
  display: inline-block;
}

.m_pager {
  text-align: center;
}
.m_pager ul, .m_pager li {
  display: inline;
}
